.base_center {
	margin: 0 auto;
	max-width: 800px;
}

.width_100_percent {
	width: 100%;
}

.fields_form-1 {
	max-width: 300px;
}

.fields_form-2 {
	max-width: 400px;
}

input {
	margin-bottom: 5;
}

#datetimepicker1 {
	margin-bottom: 5;
}

.hide {
	display: none;
}

.login {
	width : 350;
	height: 300;
	margin: auto;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}

.login_new_user{
	text-align: right;
	padding-top: 6pt;
	width: 100%;
	float: right;
}

.login_new_user a{
	font-size: 12px;
}