<div style="text-align: center" ng-include="'view/menu.html'" ng-show="{{!autoCadastro}}"/>
<div class="panel panel-default base_center">
	<div class="panel-heading">{{titulo}} usuário</div>
	<div class="panel-body">
		<form class="form-group" name="formUsuario" id="formUsuario"
			style="top: -9px; left: 292px;">
			<field label="Nome completo" size-class="fields_form-2" show-error="{{hasErrorFor(formUsuario, 'nome', validationErrors)}}" error="{{getErrorFor('nome', validationErrors)}}">
				<input id="inputNome" name="nome" type="text" maxlength="150" class="form-control" ng-model="$parent.$parent.usuario.nome"
					ng-required="true" aria-describedby="nome" maxlength="100">
			</field>

			<field label="Email" size-class="fields_form-2" show-error="{{hasErrorFor(formUsuario, 'email', validationErrors)}}" error="{{getErrorFor('email', validationErrors)}}">
				<input maxlength="100" id="inputEmail" name="email" type="text" aria-describedby="email" ng-required="true"
					class="form-control input-md" ng-model="$parent.$parent.usuario.email">
			</field>

			<field label="Login do usuário" size-class="fields_form-1" show-error="{{hasErrorFor(formUsuario, 'login', validationErrors)}}" error="{{getErrorFor('login', validationErrors)}}">
				<input id="inputLogin" name="login" type="text" maxlength="20" aria-describedby="login" ng-required="true"
					class="form-control input-md" ng-model="$parent.$parent.usuario.login">
			</field>

			<field label="Data de nascimento" size-class="fields_form-1" show-error="{{hasErrorFor(formUsuario, 'dataNascimento', validationErrors)}}" 
				error="{{getErrorFor('dataNascimento', validationErrors)}}">
				<div id="datepicker" class="input-group date">
					<input id="inputDtNascimento" name="dataNascimento"
						aria-describedby="errorDataNascimentoRequerido" ng-required="true"
						class="form-control input-md"
						ng-model="$parent.$parent.usuario.dataNascimento" type="text"
						readonly /> <span class="input-group-addon"><i
						class="glyphicon glyphicon-calendar"></i></span>
	
					<script type="text/javascript">
						$(function() {
							$("#datepicker").datepicker({
								autoclose : true,
								todayHighlight : true,
								format : 'dd-mm-yyyy',
								language : 'pt-BR',
							});
						});
					</script>
				</div>
			</field>

			<field label="Senha" size-class="fields_form-1"	show-error="{{hasErrorFor(formUsuario, 'senha', validationErrors)}}" error="{{getErrorFor('senha', validationErrors)}}">
				<input maxlength="10" id="inputSenha" name="senha" type="password" class="form-control"	ng-model="$parent.$parent.usuario.senha"
					aria-describedby="senha" ng-required="true" ng-disabled="{{usuario.id != null}}">
			</field>
			<button type="submit" class="btn btn-primary" ng-click="salvarUsuario(usuario)" ng-disabled="formUsuario.$invalid">
				Salvar
			</button>
			<button id="testeCancel" type="submit" class="btn" data-toggle="modal" data-target="#modal-perder-info" ng-disabled="!formUsuario.$dirty">
				Cancelar
			</button>
		</form>
	</div>
</div>
<div class="modal fade" id="modal-perder-info" tabindex="-1" role="dialog">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<h4 class="modal-title">Atenção</h4>
			</div>
			<div class="modal-body">
				<p>Deseja cancelar {{tituloCancelar}}</p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="descartarInformacoesCadastro()">
					Sim
				</button>
				<button id="cancelModal" type="button" class="btn btn-default" data-dismiss="modal">
					Não
				</button>
			</div>
		</div>
	</div>
</div>