<nav class="navbar navbar-default">
	<ul class="nav navbar-nav">
		<li>
			<a href="#/">
				<span class="glyphicon glyphicon-home"></span>
				Home 
			</a>
		</li>
		<li class="dropdown">
			<a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
				<span class="glyphicon glyphicon-user"/>
				Usuários 
				<span class="caret"/>
			</a>
			<ul class="dropdown-menu">
				<li><a href="#/listaUsuarios">Lista de usuários</a></li>
				<li><a href="#/detalheUsuario">Novo usuário</a></li>
			</ul>
		</li>
	</ul>
	<ul class="nav navbar-nav navbar-right" style="margin-right: 0px;">
		<li class="dropdown">
			<a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
				<span class="glyphicon glyphicon-user"/>
				{{getLoginUserSession()}}
			</a>
			<ul class="dropdown-menu">
				<li><a href="#/alterarSenha">Alterar senha</a></li>
				<li><a href="" ng-click="sair()">Sair</a></li>
			</ul>
		</li>
	</ul>
</nav>